<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Showcase</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="w-full bg-slate-300">
            <div class="text-center md:text-left py-2">
                <h2 class="my-4">
                    <a asp-area="" asp-controller="Home" asp-action="Index">[icon]</a>
                </h2>
                <div class="nav-links">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="mx-10">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="w-full bg-slate-300 absolute bottom-0">
        <div class="box-border p-4 text-center">
            &copy; 2024 / Showcase / <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
