<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Showcase Ronan van der Vlies</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="icon" href="./favicon.png" type="image/x-icon"/>
</head>
<body>
<header>
    <a href="javascript:void(0)" class="z-50 fixed p-4 top-0 left-0 md:hidden" onclick="toggleNav()">
        <img class="h-8 w-8" src="/img/svg/bars-solid.svg" alt="bars-svg">
    </a>
    <nav class="w-full bg-slate-100 z-10 md:w-56 h-dvh fixed -mt-[100dvh] md:mt-0 [&.open]:mt-0 duration-200">
        <div class="text-center md:text-left py-2">
            <h2 class="flex flex-col items-center my-4">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="h-9 w-9" src="/img/svg/house-solid.svg" alt="house-svg">
                </a>
            </h2>
            <div class="nav-links">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div>
    <main role="main" class="md:ml-56 min-h-[calc(100dvh-56px)]">
        @RenderBody()
    </main>

    <section class="gdpr-consent z-50 bottom-0 inset-x-0 fixed hide [&.hide]:hidden [&.show]:flex flex-col items-center m-2 p-4 bg-white border border-slate-200 rounded-md">
        <div class="flex justify-center">
            <p>
                Deze website gebruikt cookies.
                We gebruiken cookies om content te personaliseren, voor social media en het analyseren
                van verkeer op de website, advertenties.
            </p>
        </div>

        <div class="w-full flex flex-row justify-evenly">
            <button class="gdpr-consent__button--reject btn-choice bg-red-400 hover:bg-red-500">Reject cookies</button>
            <button class="gdpr-consent__button--accept btn-choice bg-green-400 hover:bg-green-500">Accept all cookies</button>
        </div>
    </section>
</div>

<footer class="md:ml-56 bg-slate-200">
    <div class="box-border p-4 text-center">
        &copy; 2024 / <a asp-area="" asp-controller="Home" asp-action="Index">Showcase</a> /
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> /
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/gdpr.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>