@{
    ViewData["Title"] = "Contact";
}

<div>

    <section class="">
        <h1>Neem contact op!</h1>
        <p>
            Als je contact met mij wilt opnemen kan je dat doen door dit formulier in te vullen en te verzenden.
        </p>
    </section>

    <form class="" action="" method="post">

        <label for="name">Naam</label>
        <input id="name" name="name" type="text" required>

        <label for="email">Email</label>
        <input id="email" name="email" type="email" required>

        <label for="phone">Telefoonnummer</label>
        <input id="phone" name="phone" type="text" required>

        <label for="subject">Onderwerp</label>
        <input id="subject" name="subject" type="text" required>

        <label for="contents">Inhoud</label>
        <textarea id="contents" name="contents" type="text" required></textarea>

    </form>

    <button class="btn-send">Verzend</button>

</div>