@{
    ViewData["Title"] = "Home Page";
}

<div>

    <section class="flex flex-col items-center bg-slate-200 w-full py-14">

        <img class="person-logo" src="" alt="profile-picture">
        <h1>Ronan van der Vlies</h1>

    </section>

    <section class="box-border py-4 px-5">

        <section>

            <div>
                <h2>Profiel</h2>
                <hr>
                <div>
                    <h3>Beschrijving</h3>
                    <p>
                        Als student hbo-ICT ben ik bekwaam in het ontwerpen en ontwikkelen
                        van software met diverse programmeertalen.
                    <p>
                </div>
            </div>

            <div>
                <h2>Opleidingen</h2>
                <hr>
                <div>
                    <h3>hbo-ICT</h3>
                    <p>Sep. 2022 - heden</p>
                    <p>Windesheim, Zwolle</p>
                </div>
                <div>
                    <h3>Applicatie- en Mediaontwikkelaar</h3>
                    <p>Sep. 2019 - jun. 2022</p>
                    <p>Landstede mbo, Harderwijk</p>
                </div>
            </div>

        </section>

    </section>

</div>
