@{
    ViewData["Title"] = "Home Page";
}

<section class="flex flex-col items-center bg-slate-200 w-full py-10">

    <img class="w-2/4 max-w-48 rounded-[50%]" src="./img/bananen.jpg" alt="profile-picture">
    <h1>Ronan van der Vlies</h1>

</section>

<div class="content">
    
    <section>
        <h2>Profiel</h2>
        <hr>
        <div>
            <h3>Beschrijving</h3>
            <p>
            Als student hbo-ICT ben ik bekwaam in het ontwerpen en ontwikkelen
            van software met diverse programmeertalen.
            <p>
        </div>
    </section>

    <section>
        <h2>Opleidingen</h2>
        <hr>
        <div>
            <h4>HBO-ICT</h4>
            <p class="quote-gray">Sep. 2022 - heden</p>
            <p class="quote-green">Windesheim, Zwolle</p>
        </div>
        <div>
            <h4>Applicatie- en Mediaontwikkelaar</h4>
            <p class="quote-gray">Sep. 2019 - jun. 2022</p>
            <p class="quote-green">Landstede mbo, Harderwijk</p>
        </div>
    </section>

</div>