@{
    ViewData["Title"] = "Home Page";
}

<div class="profile-page page">

    <section class="flex flex-col items-center">

        <img class="person-logo" src="" alt="profile-picture">
        <h1>Ronan van der Vlies</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category">
                <h3>Profiel</h3>
                <hr>

                <div class="profile-content__element">
                    <h4>Beschrijving</h4>
                    <p>
                        Als student hbo-ICT ben ik bekwaam in het ontwerpen en ontwikkelen
                        van software met diverse programmeertalen.
                    <p>
                </div>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>

                <div class="profile-content__element">
                    <h5>hbo-ICT</h5>
                    <p class="txt-sm">Sep. 2022 - heden</p>
                    <p class="txt-md">Windesheim, Zwolle</p>
                </div>

                <div class="profile-content__element">
                    <h5>Applicatie- en Mediaontwikkelaar</h5>
                    <p class="txt-sm">Sep. 2019 - jun. 2022</p>
                    <p class="txt-md">Landstede mbo, Harderwijk</p>
                </div>
            </div>

        </section>

    </section>

</div>
